<!--Navbar-->
.navbar {
  margin-bottom: 15px;
}
#main-banner {
  min-height: 500px;
  background-image: url(./images/2020-12-22\ 13.07.49\(1\).jpg);
  background-size: cover;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  color: blueviolet;
  text-align: right;
}
.about-me {
  margin-bottom: 15px;
}
.about-me h2 {
  color: red;
  text-align: center;
}