#banner {
  min-height: 700px;
  background-image: url(./images/2020-12-22\ 13.07.49.jpg);
  background-size: cover;
  margin-bottom: 10px;
}
.title {
  font-size: 24px;
  color: blueviolet;
  text-align: right;
}
.navbar {
  margin-bottom: 5px;
}
.img {
  size: cover;
}
.about-me {
  margin-bottom: 15px;
}
.about-me h2 {
  color: black;
  text-align: center;
}